/* Define the styling for the website */
body {
  background-color:floralwhite;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #001F3F;
}

/* Define the styling for the header */
header {
  display: flex;
  height: 75px;
  background-color: #7FDBFF;
}

header a {
  color: #001F3F;
}

.name {
  width: 50%;
  font-size: 20px;
  text-align: left;
  display: flex;
  align-items: center;
}

.name a {
  cursor: pointer;
  text-decoration: none;
}

/* Display the links so they are evenly spaced within their
   area of the header*/
.links {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.links a {
  text-decoration: none;
  cursor: pointer;
}

.links a:hover, .name a:hover{
  color: #FF4136;
  font-size: 21px;
}

/* Since the home and about pages are mostly text, their basic
   styling will be the same */
.home, .about-me{
  text-align: center;
  border-style: double;
  border-color: #001F3F;
  margin: 20px;
}

.welcome-front {
  font-size: 35px;
  line-height: 0.5;
}

.welcome-bottom {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.about-me {
  font-size: 20px;
  text-align: left;
  line-height: 1.5
}

.about-me * {
  padding-left: 20px;
  padding-right: 20px;
}

/* Style the first about paragraph and my picture to be next to each other */
.about-me-top {
  display: flex;
  padding-bottom: 25px;
}

.about-me-top-p{
  width: 60%;
  padding-left: 0px;
}

.about-me-top-p p {
  padding-left: 0px;
}

.about-me-img-div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Display my picture centered within its space on the website*/
.about-me-top img {
  width: 55%;
  height: 65%;
  border-radius: 10%;
}

/* Sunset pictures should be evenly spaced along the width of the website */
.sunsets {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sunset {
  width: 150px;
  height: 200px;
  border-radius: 20%;
}

/* Projects are going to display 2 per row with wrapping on the row.
   If only 1 project on the row, it will be centered on the page */

.projects-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-style: double;
  border-color: #001F3F;
  padding-bottom: 25px;
  margin: 20px;
}

/* Define the styling for each individual project */
.project {
  width: 40%;
  border-style: dashed;
  border-radius: 10%;
  border-color: #001F3F;
  margin-top: 25px;
  text-align: center;
  line-height: 0.75;
  text-decoration: none;
  color: #001F3F;
}

.project:hover {
  border-style: solid;
  border-color: #3D9970 ;
}

.project * {
  margin-top: 0px;
}

.project-name {
  color: #FF4136;
  margin-top: 15px;
}

.project-description, .languages-tools {
  line-height: 1.5;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  font-size: 18px;
}

.project-header {
  font-size: 25px;
  text-align: center;
}

.git-link {
  color:#001F3F;
}

.git-link:hover {
  color:#FF4136;
}

footer {
  background-color: #7FDBFF;
}

/* Style the copyright information so it is aligned in columns */
.copyright {
  display: flex;
  flex-direction: column;
}

.copyright-text {
  margin-top: 0px;
  padding-top: 0px;
  height: 50%;
  text-align: center;
}

.copyright-text a {
  color: #001F3F;
}

.copyright-text a:hover {
  color: #FF4136;
}

.copyright-images {
  margin: 0 auto;
}

.copyright-images img{
  height: 22px;
  padding-right: 3px;
  margin-bottom: 10px;
}

/* Styling for the resume */
.resume {
  width: 80%;
  height: 500px;
  float: center;
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
}